<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepalette.ceeq"
    android:versionCode="Beta"
    android:versionName="1.0.0 Beta" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.codepalette.ceeq.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Actionbar" >
        </activity>
        <activity
            android:name="com.codepalette.ceeq.Splash"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splashstyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codepalette.ceeq.Initialisations"
            android:label="@string/title_activity_initialiser"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.splashstyle" >
        </activity>

        <activity android:name="com.codepalette.ceeq.Locker" android:label="@string/title_activity_locker">
        </activity><receiver
            android:name="com.codepalette.ceeq.RemoteManager"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        

        <receiver
            android:name="com.codepalette.ceeq.Startup"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <service 
            android:name="com.codepalette.ceeq.Services" 
            android:enabled="true" >
        </service>

        
    </application>

</manifest>